.admin {
	.sider {
		// position: fixed;
		// left: 0;
		// top: 0;
		// bottom: 0;
    
		.headerName {
			color: white;
			height: 60px;
			font-size: 50px;
			font-weight: bold;
			text-align: center;
			line-height: 60px;
		}
	}

	@layout-header-height: 60px;
	.right-header {
		display: flex;
		flex-direction: row;
		padding-right: 0;
    padding-left: @layout-header-height/2;
		background-color: white;
	}
}
